
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="/pin">Pinterest Clone</a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<% if (user) { %>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/pin">All</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pin/my">My Pics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="modal" data-target="#myModal" href="#">Add a Pic</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/logout">LOGOUT</a>
				</li>
			</ul>
		<% } else { %>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/auth/facebook">LOGIN</a>
				</li>
			</ul>
		<% }%>
	</div>

</nav>


<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<form action="/pin/add" method="post" enctype="multipart/form-data">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Add a Pic</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<!--<input name="imgPath" type="text" class="form-control" placeholder="Pic url..."/>-->
					<input name="imgPath" type="file" class="form=control"/>
					<input name="description" type="text" class="form-control" placeholder="Pic description..."/>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-default">submit</button>
				</div>
			</div>
		</form>

	</div>
</div>


<script>

</script>