<!DOCTYPE html>

<html>

	<head>
		<title>Voting App - ZEEYON CHUNG</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		Hello World

		<ul>
			<li><a href="/pin" target="_blank">a Pinterest Clone</a></li>
			<li><a href="/vote" target="_blank">a Voting App</a></li>
		</ul>
	</body>

</html>